.banner-image {
  height: 20rem;

  background-image: url('../images/banner/bee-movie.jpg');
  background-size: cover;
  background-position: top center;
}

.banner-image::before {
  content: " ";
  background: rgba(0, 0 ,0 ,.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}


@media only screen and (min-width: 46em) {

  .banner-image {
    height: 50vh;
    min-height: 26rem;
  }

}

@media only screen and (min-width: 67em) {

  .banner-image {
    height: 60vh;
  }

  .banner-image::before {
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, .5));
  }

}
