html {
  min-width: 320px;

  background-color: #111;

  font-family: "nimbus-sans", sans-serif;
  color: #fff;
}

.color-grey {
  color: #ccc;
}

button,
button:active {
  padding: 0;

  background-color: transparent;
  border: 0;
  border-radius: 4px;

  color: #fff;
}

.pad-left-adapt {
  padding-left: 1.3rem;
}

.pad-right {
  padding-right: 1.3rem;
}

.i-play {
  color: #fff;
}

@media only screen and (min-width: 46em) {

  .pad-left-adapt {
    padding-left: 2.8rem;
  }

  .pad-right {
    padding-right: 1.4rem;
  }

}

@media only screen and (min-width: 67em) {

  .pad-left-adapt {
    padding-left: 6rem;
  }

  .pad-right {
    padding-right: 1.5rem;
  }

}
