html {
  min-width: 320px;

  background-color: #111;

  font-family: "Roboto", sans-serif;
  color: #fff;
}

.color-grey {
  color: #ccc;
}

.push-4 {
  margin-bottom: 5.2rem;
}

button,
button:active {
  padding: 0;

  background-color: transparent;
  border: 0;
  border-radius: 4px;

  color: #fff;
}

@media only screen and (min-width: 25em) {

  .push-4 {
    margin-bottom: 5.6rem;
  }

}

@media only screen and (min-width: 25em) {

  .push-4 {
    margin-bottom: 6rem;
  }

}
